<template>
  <div class="app">
    <Missed/>
    <Guess/>
    <Folk/>
    <Hint/>
  </div>
</template>

<script>
import Guess from '~/components/Guess.vue'
import Hint from '~/components/Hint.vue'
import Missed from '~/components/Missed.vue'
import Folk from '~/components/Folk.vue'

export default {
    components: {
        Guess, Missed, Folk, Hint
    }
}
</script>

<style lang="scss">
    .app {
        background: white;
        width: 80%;
        height: 80vh;
        border-radius: 0.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:before {
            content: "";
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 200px solid #4d69fa;
            border-left: 200px solid transparent;
        }
    }
</style>
