<template>
  <div class="folk">
      <svg id="Folk" class="folk-image" data-name="Folk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 273 324">
      <title>Hangman</title>
              <image v-if="step >= 0" key="0" xlink:href="~/assets/images/folk/bar.png" class="bar" width="448" height="77" transform="scale(0.5)"/>
              <image v-if="step > 0" key="1" xlink:href="~/assets/images/folk/head.png" class="folkElement head" width="192" height="212" transform="translate(153 38) scale(0.5)"/>
              <image v-if="step > 1" key="2" xlink:href="~/assets/images/folk/neck.png" class="folkElement neck" width="46" height="67" transform="translate(190 134) scale(0.5)"/>
              <image v-if="step > 2" key="3" xlink:href="~/assets/images/folk/corpus.png" class="folkElement corpus" width="105" height="165" transform="translate(175 149) scale(0.5)"/>
              <image v-if="step > 3" key="4" xlink:href="~/assets/images/folk/right-arm.png" class="folkElement right-arm" width="126" height="122" transform="translate(207 149) scale(0.5)"/>
              <image v-if="step > 4" key="5" xlink:href="~/assets/images/folk/left-arm.png" class="folkElement left-arm" width="126" height="122" transform="translate(132 151) scale(0.5)"/>
              <image v-if="step > 5" key="6" xlink:href="~/assets/images/folk/right-hand.png" class="folkElement right-hand" width="30" height="30" transform="translate(258 197) scale(0.5)"/>
              <image v-if="step > 6" key="7" xlink:href="~/assets/images/folk/left-hand.png" class="folkElement left-hand" width="30" height="30" transform="translate(129 199) scale(0.5)"/>
              <image v-if="step > 7" key="8" xlink:href="~/assets/images/folk/right-leg.png" class="folkElement right-leg" width="82" height="178" transform="translate(204 226) scale(0.5)"/>
              <image v-if="step > 8" key="9" xlink:href="~/assets/images/folk/left-leg.png" class="folkElement left-leg" width="82" height="178" transform="translate(158 226) scale(0.5)"/>
              <image v-if="step > 9" key="10" xlink:href="~/assets/images/folk/right-foot.png" class="folkElement right-foot" width="84" height="36" transform="translate(222 306) scale(0.5)"/>
              <image v-if="step > 10" key="11" xlink:href="~/assets/images/folk/left-foot.png" class="folkElement left-foot" width="84" height="36" transform="translate(140 306) scale(0.5)"/>
      </svg>
  </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState(['step'])
        }
    }
</script>

<style lang="scss">
    .folk {
        position: absolute;
        top: 20%;
        left: 0;
        width: 23%;
    }
    .folkElement {
        animation: fadein 0.35s;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
</style>
