<template>
    <div class="app-guess">
        <div class="app-guess-letters" v-if="started">
            <div class="app-guess-letter-box" v-for="(letter, index) in splittedWord" :key="`letter-${index}`">
            <span class="app-guess-letter" v-if="occurences.includes(index)">
                {{letter}}
            </span>
            </div>
        </div>
    </div>
</template>


<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState(['word', 'splittedWord', 'started', 'missedLetters', 'step', 'maxTries', 'occurences']),
        },
        mounted() {
            window.addEventListener("keypress", e => {
                if(this.started) {
                    var charCode = e.keyCode;
                    var usedLetter = '';
                    //accept only letters
                    if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8) {
                        usedLetter = String.fromCharCode(e.keyCode).toLowerCase();
                        this.$store.commit('toggleHint', usedLetter);
                        //check if letter matches the words
                        var occurence = this.splittedWord.map((e, i) => e === usedLetter ? i : '').filter(String);
                        if(occurence.length > 0) {
                            this.$store.commit('setOccurence', occurence);
                            if(this.occurences.length === this.splittedWord.length) {
                                this.$store.commit('success');
                            }
                        } else {
                            if(this.missedLetters.includes(usedLetter)) {
                                return false
                            } else {
                                this.$store.commit('addMissedLetter', usedLetter);
                                this.$store.commit('nextStep');
                                if(this.step === this.maxTries) {
                                    this.$store.commit('fail');
                                }
                            }
                        }
                    }
                }
            });
        },
    }
</script>


<style lang="scss">
    .app-guess {
        margin-bottom: 3rem;
    }

    .app-guess-letters {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 3;
    }

    .app-guess-letter-box {
        background: rgba(41, 41, 44, 0.91);
        height: 3rem;
        width: 3rem;
        margin: 0 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &.show {
            .app-guess-letter {
                opacity: 1;
            }
        }
    }

    .app-guess-letter {
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 1;
        transition: all 0.35s;
        animation: appearLetter 1s;
    }

    @keyframes appearLetter {
        0% {
            opacity: 0;
            transform: scale(1);
            color: #009f00;
        }
        25% {
            opacity: 0.75;
            transform: scale(1.35);
        }
        100% {
            opacity: 1;
            transform: scale(1);
            color: white;
        }
    }

</style>
