<template>
    <div class="app-hint" v-if="started">
        <transition name="fade">
            <p class="app-hint-text" v-if="hintShow">
                {{hintText}}
            </p>
        </transition>
    </div>
</template>


<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState(['started', 'hintText', 'hintShow']),
        },
        watch: {
            started() {
                this.$store.commit('toggleHint', 'Use your keyboard to guess..');
            }
        }
    }
</script>


<style lang="scss">

    .app-hint {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;
    }

    .app-hint-text {
        font-size: 2.5rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.9);
        text-transform: uppercase;
    }

    .fade-enter-active, .fade-leave-active {
        transition: all 1s;
    }
    .fade-leave-to {
        opacity: 0;
    }

</style>
