<template>
  <div class="app-info">
    <div class="app-tries-left">
      Tries left: <b>{{TriesLeft}}</b>
    </div>
    <div class="app-missed-wrapper">
      <div class="app-missed-label">
        You missed:
      </div>
      <div class="app-missed-letters">
        {{ missedLetters.join(', ') }}
      </div>
    </div>
  </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState(['missedLetters', 'step', 'maxTries']),
            TriesLeft: function () {
                return (this.maxTries - this.step);
            }
        }
    }
</script>

<style lang="scss">
  .app-info {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
  }
  .app-tries-left {
    text-align: left;
    width: 50%;
  }
  .app-missed-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    text-align: left;
  }
  .app-missed-label {
    text-transform: uppercase;
    font-weight: bold;
  }
  .app-missed-letters {
    font-weight: bold;
    color: #c00600;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1.25;
  }
</style>
