<template>
    <div class="page">
        <App/>
        <div class="page-wrapper start-wrapper" v-if="showStart">
            <p class="page-wrapper-text">
                {{infoText}}
            </p>
            <button class="page-button start-button"
                    @click="start()"
             >
                 Start
             </button>
        </div>
        <div class="page-wrapper fail-wrapper" v-if="ended">
            <p class="page-wrapper-text">
                {{infoText}}
            </p>
            <button class="page-button restart-button"
                    @click="start()"
            >
                Try again
            </button>
        </div>
        <div class="page-wrapper success-wrapper" v-if="success">
            <p class="page-wrapper-text">
                {{infoText}}
            </p>
            <button class="page-button restart-button"
                    @click="start()"
            >
                Play again
            </button>
        </div>
    </div>
</template>

<script>
import App from '~/components/App.vue'

import {mapState} from 'vuex';

export default {
    components: {
        App
    },
    computed: {
        ...mapState(['word', 'splittedWord', 'showStart', 'ended', 'success', 'infoText']),
    },
    methods: {
        start(){
            this.$store.dispatch('start');
        }
    }
}
</script>

<style lang="scss">

.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #3b4163;
  position: relative;
}

.page-wrapper {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.start-wrapper {
        background: rgba(77, 105, 250, 0.9);
    }
    &.fail-wrapper {
        background: rgba(184, 15, 0, 0.9);
    }
    &.success-wrapper {
        background: rgba(0, 184, 73, 0.9);
    }
}

.page-wrapper-text {
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}

.page-button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

</style>
